In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("weatherdata_cleaned.csv")
df.head(5)

,Date,Year,Month,Min Temperature(°C),Max Temperature(°C),Average Temperature(°C),Precipitation(mm),Wind(km/h),Relative Humidity,Solar(W/m²)
0,1979-01-01,1979,1,25.154,28.419,26.786,13.125,6.932,0.824,21.584
1,1979-01-02,1979,1,24.853,27.973,26.413,23.355,6.081,0.870,19.647
2,1979-01-03,1979,1,25.469,27.772,26.620,39.468,6.015,0.874,23.400
3,1979-01-04,1979,1,24.851,26.534,25.692,23.830,6.422,0.886,13.279
4,1979-01-05,1979,1,24.974,28.343,26.658,9.089,6.162,0.844,24.058

In [2]:
X = df.drop(columns=['Min Temperature(°C)', 'Max Temperature(°C)', 'Average Temperature(°C)'])

In [3]:
y1 = df['Min Temperature(°C)']
y2 = df['Max Temperature(°C)']
y3 = df['Average Temperature(°C)']

y_array = [y1, y2, y3]

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [5]:
#Model to be replaced with Random forest

pipeline = Pipeline(steps = [
    ("scale", StandardScaler()),
    ("model", LinearRegression())   
])

In [6]:
#This is purely for testing pipeline! Model is not complete

X = X.drop(columns="Date")

for y in y_array:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    pipeline.fit(X_train, y_train)
    y_pred = pipeline.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(y.name)
    print(f"MAE: {mae:.3f}")
    print(f"RMSE: {rmse:.3f}")
    print(f"R²: {r2:.3f}\n")

Min Temperature(°C)
MAE: 1.061
RMSE: 1.369
R²: 0.305

Max Temperature(°C)
MAE: 1.265
RMSE: 1.680
R²: 0.662

Average Temperature(°C)
MAE: 0.982
RMSE: 1.271
R²: 0.440